<%- include('../../partials/head.ejs') %>
   <div class="container">
      <div class="row">
         <div class="col-md-6 offset-md-3">
            <div>
               <div>
                  <img src="<%= author.profilePics %> " class="img-thumbnail img-fluid">
               </div>
               <div>
                  <p>
                     Name: <strong>
                        <%= author.profile.name %>
                     </strong>
                  </p>
                  <p>
                     Title: <strong>
                        <%= author.profile.title %>
                     </strong>
                  </p>
                  <p>
                     Bio:
                        <%= author.profile.bio %>
                  </p>
                  <div>
                     Social Links : 
                     <% if(author.profile.links.website){ %> 
                        <span>
                           <a href="<%= author.profile.links.website %> " target="_blank" class="mx-1">
                              <i class='fab fa-chrome'></i>
                           </a>
                        </span>
                     <% } %> 
                     <% if(author.profile.links.facebook){ %> 
                        <span>
                           <a href="<%= author.profile.links.facebook %> " target="_blank"class="mx-1">
                              <i class="fab fa-facebook-f"></i>
                           </a>
                        </span>
                     <% } %> 
                     <% if(author.profile.links.twitter){ %> 
                        <span>
                           <a href="<%= author.profile.links.twitter %> " target="_blank"class="mx-1">
                              <i class="fab fa-twitter-square"></i>
                           </a>
                        </span>
                     <% } %> 
                     <% if(author.profile.links.github){ %> 
                        <span>
                           <a href="<%= author.profile.links.github %> " target="_blank"class="mx-1">
                              <i class="fab fa-github-square"></i>
                           </a>
                        </span>
                     <% } %> 
                  </div>
               </div>
               <div>
                  <p>Post create by this author</p>
                  <div class="row">
                     <% if(author.profile.posts.length === 0){ %> 
                        <div class="text-center text-muted">
                           <p>There is no post available right now</p>
                           <!-- <a href="/posts/create" class="btn btn-primary btn-sm">Create Post now</a> -->
                        </div>
                     <% }else { %>
                        <% for(let post of author.profile.posts.reverse()){ %> 
                           <div class="card col-sm-5 m-2">
                              <% if(post.thumbnail){ %> 
                                 <img src="<%= post.thumbnail %> " alt="<%= post.title %> " class="card-img-top mt-3">
                              <% } %> 
                              <div class="card-body p-0">
                                 <a href="/explorer/<%= post.id %> " style="color: #222;">
                                    <p class="my-2"><%= post.title %> </p>
                                 </a>
                              </div>
                           </div>
                        <% } %> 
                     <% } %> 
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>

<%- include('../../partials/footer.ejs') %>

</body>
</html>