<%- include('../../partials/head.ejs') %>
   <div class="container">
      <div class="row">
         <div class="col-md-6 offset-md-3">
            <div>
               <div>
                  <img src="<%= author.profilePics %> " class="img-thumbnail img-fluid">
               </div>
               <div>
                  <p>
                     Name: <strong>
                        <%= author.profile.name %>
                     </strong>
                  </p>
                  <p>
                     Title: <strong>
                        <%= author.profile.title %>
                     </strong>
                  </p>
                  <p>
                     Bio:
                        <%= author.profile.bio %>
                  </p>
                  <div>
                     Social Links : 
                     <% if(author.profile.links.website){ %> 
                        <span>
                           <a href="<%= author.profile.links.website %> " target="_blank">
                              <i class='fab fa-chrome'></i>
                           </a>
                        </span>
                     <% } %> 
                     <% if(author.profile.links.facebook){ %> 
                        <span>
                           <a href="<%= author.profile.links.facebook %> " target="_blank">
                              <i class="fab fa-facebook-f"></i>
                           </a>
                        </span>
                     <% } %> 
                     <% if(author.profile.links.twitter){ %> 
                        <span>
                           <a href="<%= author.profile.links.twitter %> " target="_blank">
                              <i class="fab fa-twitter-square"></i>
                           </a>
                        </span>
                     <% } %> 
                     <% if(author.profile.links.github){ %> 
                        <span>
                           <a href="<%= author.profile.links.github %> " target="_blank">
                              <i class="fab fa-github-square"></i>
                           </a>
                        </span>
                     <% } %> 
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>

<%- include('../../partials/footer.ejs') %>

</body>
</html>