<%- include('../../partials/head.ejs') %>
   <div class="container">
      <div class="row">
         <div class="col-md-6 offset-md-3">
            <section class="mb-5">
               <a href="/explorer?filtel=latest"
                  class="btn <%= filter === 'latest' ? 'btn-primary' : 'btn-secondary' %> ">Latest
               </a>
               <a href="/explorer?filtel=week"
                  class="btn <%= filter === 'week' ? 'btn-primary' : 'btn-secondary' %> ">Week
               </a>
               <a href="/explorer?filtel=month"
                  class="btn <%= filter === 'month' ? 'btn-primary' : 'btn-secondary' %> ">Month
               </a>
               <a href="/explorer?filtel=all" class="btn <%= filter === 'all' ? 'btn-primary' : 'btn-secondary' %> ">All
               </a>
            </section>
            <section>
               <% if(posts.length===0){ %>
                  <p class="text-center text-muted">There is Nothing to Show</p>
                  <% } else{ %>
                     <% for(let post of posts){ %>
                        <div class="card card-body mb-3">
                           <% if(post.thumbnail) {%>
                              <img class="img-fluid mb-2" src="<%= post.thumbnail %> " alt="">
                              <% } %>
                                 <a href="/explorer/<%= post._id %>" style="color: #222222;">
                                    <h5>
                                       <%= post.title%>
                                    </h5>
                                    <p class="mb-4">
                                       <%= truncate(post.body) %>
                                    </p>
                                 </a>
                                 <div class="d-flex">
                                    <small>
                                       <%= moment(post.createdAt) %> ,
                                          Post By <%= post.author.username %>,
                                          <%= post.readTime %> 
                                    </small>
                                 </div>
                        </div>
                     <% } %>
                  <% } %>
            </section>
         </div>
      </div>
   </div>

   <%- include('../../partials/footer.ejs') %>

      </body>

      </html>